$primary-color: #8CBFD7;
$secondary-color: #F3F8FA;

$primary-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

body {
  position: relative;
}

#section-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

  .box-color-1 {
    background: $primary-color;
    width: 48vw;
    height: 96vh;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    z-index: -1;
  }

  .box-color-2 {
    background: $secondary-color;
    width: 48vw;
    height: 96vh;
    margin-right: 45px;
    margin-top: 30px;
    margin-bottom: 5px;
    ;
  }

  .homepage {


    h1 {
      position: absolute;
      left: 42%;
      top: 125px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 144px;
      line-height: 170px;

      span {
        color: $primary-color;
      }
    }

    h2 {
      position: absolute;
      left: 43%;
      top: 470px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      text-decoration: underline;
    }

    h3 {
      position: absolute;
      left: 42.5%;
      top: 520px;
      font-family: $primary-font;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
    }

    .language .english {
      position: fixed;
      left: 9px;
      top: 40px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      transform: rotate(-90deg);

      a {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    .language .french {
      position: fixed;
      left: 12px;
      top: 65px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      transform: rotate(-90deg);

      a {
        color: black;
        text-decoration: none;
      }
    }

    .language:hover .french {
      color: $primary-color;
      text-decoration: underline;
      cursor: pointer;

    }
  }
}

.contact .social-icons {
  position: fixed;
  right: 8px;
  top: 45%;
  padding-right: 2px;
}


.social-icons img {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  opacity: 0.3;
  border-radius: 3px;
}

.social-icons img:hover {
  opacity: 1;
}

.social-icons li {
  list-style-type: none;
}

#wireframe img {
  width: 95vw;
  height: 550px;
  margin-left: 30px;
}

#section-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

  .box-color-1 {
    background: $secondary-color;
    width: 48vw;
    height: 96vh;
    width: 48vw;
    height: 96vh;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: -1;
  }

  .box-color-2 {
    background: $primary-color;
    width: 48vw;
    height: 96vh;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: -1;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 48px;
  padding: 10px;
  height: 30px;

  h4 {
    font-family: $primary-font;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
  }

  ul li {
    list-style-type: none;
    display: inline;

    a {
      color: black;
      font-weight: bold;
      text-decoration: none;

      span {
        text-decoration: underline;
        color: $primary-color
      }
    }
  }
}

ul li:hover a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: underline;
}

.language .english {
  position: absolute;
  left: 9px;
  top: 40px;
  color: $primary-color;
  text-decoration: underline;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  transform: rotate(-90deg);
}

.language .french {
  position: absolute;
  left: 12px;
  top: 65px;
  color: black;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  transform: rotate(-90deg);
}

.language:hover .french {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;

}

.about-title {
  h1 {
    position: absolute;
    left: 15%;
    top: 1400px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 114px;

    span {
      color: $primary-color;
    }
  }
}

.about-article {
  display: grid;
  grid-template-columns: 44vw;
  grid-template-rows: 85vh;
  position: absolute;
  top: 1375px;
  right: 65px;
  border: 3px solid black;

  p {
    font-family: $primary-font;
    color: black;
    font-style: none;
    font-size: 20px;
    padding: 10px;

  }
}

.strength-graph {
  box-sizing: border-box;
  text-align: center;
  text-decoration: underline;
  position: absolute;
  top: 1700px;
  left: 130px;

  .container {
    width: 35vw;
    border: 3px solid black;
    margin-bottom: 3px;
    border-radius: 9px;


  }

  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    font-family: $primary-font;
  }

  .html {
    width: 30%;
    background-color: $primary-color;
    padding-right: 5px;
  }

  .css {
    width: 25%;
    background-color: $primary-color;
    padding-right: 5px;
  }

  .java {
    width: 10%;
    background-color: $primary-color;
    padding-right: 5px;
  }

  .node {
    width: 10%;
    background-color: $primary-color;
    padding-right: 5px;
  }
}

.html5 {
  position: absolute;
  top: 1745px;
  left: 90px;
  color: #e34c26;
}

.css3 {
  position: absolute;
  top: 1785px;
  left: 90px;
  color: #264de4;
}

.js-square {
  position: absolute;
  top: 1835px;
  left: 87px;
  color: rgb(224, 224, 52);
}

.node-symbol {
  position: absolute;
  top: 1875px;
  left: 82px;
  color: rgb(57, 202, 57)
}


.coding-image img {
  width: 95vw;
  height: 750px;
  margin-left: 30px;
}

#section-3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;


  .box-color-1 {
    background: $primary-color;
    width: 48vw;
    height: 96vh;
    width: 48vw;
    height: 96vh;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: -1;
  }

  .box-color-2 {
    background: $secondary-color;
    width: 48vw;
    height: 96vh;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: -1;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 48px;
  padding: 10px;
  height: 30px;

  h4 {
    font-family: $primary-font;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
  }

  ul li {
    list-style-type: none;
    display: inline;

    a {
      color: black;
      font-weight: bold;
      text-decoration: none;

      span {
        text-decoration: underline;
        color: $primary-color
      }
    }
  }
}

ul li:hover a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: underline;
}

.language .english {
  position: absolute;
  left: 9px;
  top: 40px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  transform: rotate(-90deg);

  a {
    color: $primary-color;
    text-decoration: underline;
  }
}

.language .french {
  position: absolute;
  left: 12px;
  top: 65px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  transform: rotate(-90deg);

  a {
    color: black;
    text-decoration: none;
  }
}

.language:hover .french {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;

}


.projects-title {
  h1 {
    position: absolute;
    left: 13%;
    bottom: 255px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 135px;

    span {
      color: $secondary-color;
    }
  }
}

.grid-container {
  position: absolute;
  right: 90px;
  bottom: 40px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 4px;
  border-radius: 8px;
  background-color: $primary-color;
  padding: 10px;

  .grid-item {
    background-color: $secondary-color;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 30vh;
    width: 20vw;
    opacity: 0.8;
  }
}

.grid-item:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 375px) {
  body {
    width: 100%;
    position: relative;
    overflow: auto;
  }

  #section-1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;

    .box-color-1 {
      background: $primary-color;
      width: 50vw;
      height: 66vh;
      margin-left: 20px;
      margin-top: 30px;
      margin-bottom: 5px;
    }

    .box-color-2 {
      background: $secondary-color;
      width: 50vw;
      height: 66vh;
      margin-right: 45px;
      margin-top: 30px;
      margin-bottom: 5px;
      ;
    }

    .homepage {


      h1 {
        position: absolute;
        left: 35%;
        top: 125px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;

        span {
          color: $primary-color;
        }
      }

      h2 {
        position: absolute;
        left: 30%;
        top: 280px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-decoration: underline;
      }

      h3 {
        position: absolute;
        left: 28%;
        top: 320px;
        font-family: $primary-font;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
      }

      .language .english {
        position: fixed;
        left: 3px;
        top: 30px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        transform: rotate(-90deg);

        a {
          color: $primary-color;
          text-decoration: underline;
        }
      }

      .language .french {
        position: fixed;
        left: 6px;
        top: 55px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        transform: rotate(-90deg);

        a {
          color: black;
          text-decoration: none;
        }
      }

      .language:hover .french {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;

      }
    }
  }

  .contact .social-icons {
    position: absolute;
    right: 20px;
    top: 8%;
    padding-right: 2px;
  }

  .social-icons img {
    width: 15px;
    height: 15px;
    margin-top: 25px;
    opacity: 1;
    border-radius: 3px;
  }

  .social-icons li {
    list-style-type: none;
  }

  #wireframe img {
    width: 95vw;
    height: 350px;
    margin-left: 15px;
  }

  #section-2 {
    display: flex;
    justify-content: center;
    width: 110vw;
    height: auto;

    .box-color-1 {
      background: $secondary-color;
      width: 50vw;
      height: 66vh;
      margin-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      z-index: -1;
    }

    .box-color-2 {
      background: $primary-color;
      width: 50vw;
      height: 66vh;
      margin-right: 45px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    height: 5px;
    font-size: 8px;

    h4 {
      font-family: $primary-font;
      text-align: center;
      text-decoration: underline;
    }

    ul li {
      list-style-type: none;
      display: inline;

      a {
        color: black;
        font-weight: bold;
        text-decoration: none;

        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
  }

  ul li:hover a {
    cursor: pointer;
    color: $primary-color;
    text-decoration: underline;
  }

  .about-title {
    h1 {
      position: absolute;
      left: 18%;
      top: 920px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 45px;

      span {
        color: $primary-color;
      }
    }
  }

  .about-article {
    display: grid;
    grid-template-columns: 35vw;
    grid-template-rows: 60vh;
    position: absolute;
    top: 860px;
    right: 25px;
    border: 2px solid black;

    p {
      font-family: $primary-font;
      color: black;
      font-style: none;
      font-size: 7px;
      padding: 10px;

    }
  }

  .strength-graph {
    box-sizing: border-box;
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: 1060px;
    left: 50px;
    font-size: 10px;

    h3 {
      font-size: 12px;
    }

    .container {
      width: 35vw;
      border: 2px solid black;
      margin-bottom: 3px;
      border-radius: 9px;


    }

    .skills {
      text-align: right;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
      font-family: $primary-font;
    }

    .html {
      width: 30%;
      background-color: $primary-color;
      padding-right: 5px;
    }

    .css {
      width: 25%;
      background-color: $primary-color;
      padding-right: 5px;
    }

    .java {
      width: 10%;
      background-color: $primary-color;
      padding-right: 5px;
    }

    .node {
      width: 10%;
      background-color: $primary-color;
      padding-right: 5px;
    }
  }

  .html5 {
    position: absolute;
    top: 1090px;
    left: 26px;
    color: #e34c26;
    font-size: 10px;
  }

  .css3 {
    position: absolute;
    top: 1120px;
    left: 26px;
    color: #264de4;
    font-size: 10px;
  }

  .js-square {
    position: absolute;
    top: 1150px;
    left: 25px;
    color: rgb(224, 224, 52);
    font-size: 10px;
  }

  .node-symbol {
    position: absolute;
    top: 1185px;
    left: 25px;
    color: rgb(57, 202, 57);
    font-size: 8px;
  }


  .coding-image img {
    width: 95vw;
    height: 250px;
    margin-left: 20px;
  }

  #section-3 {
    display: flex;
    justify-content: center;
    width: 110vw;
    height: auto;


    .box-color-1 {
      background: $primary-color;
      width: 50vw;
      height: 66vh;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .box-color-2 {
      background: $secondary-color;
      width: 50vw;
      height: 66vh;
      margin-right: 45px;
      margin-top: 10px;
      margin-bottom: 5px;

    }
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 48px;
    padding: 10px;
    height: 30px;
    font-size: 8px;

    h4 {
      font-family: $primary-font;
      font-size: 10px;
      text-align: center;
      text-decoration: underline;
    }

    ul li {
      list-style-type: none;
      display: inline;

      a {
        color: black;
        font-weight: bold;
        text-decoration: none;

        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
  }

  .projects-title {
    h1 {
      position: absolute;
      left: 13%;
      bottom: 255px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 45px;

      span {
        color: $secondary-color;
      }
    }
  }

  .grid-container {
    position: absolute;
    right: 12px;
    bottom: 45px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 4px;
    border-radius: 8px;
    background-color: $primary-color;
    padding: 6px;

    .grid-item {
      background-color: $secondary-color;
      border: 2px solid black;
      border-radius: 8px;
      padding: 20px;
      font-size: 20px;
      text-align: center;
      height: 17vh;
      width: 20vw;
      opacity: 0.8;
    }
  }

  footer {
    display: flex;
    justify-content: center;

    h6 {
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 576px) {
  body {
    width: 100%;
    position: relative;
    overflow: auto;
  }

  #section-1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;

    .box-color-1 {
      background: $primary-color;
      width: 50vw;
      height: 96vh;
      margin-left: 20px;
      margin-top: 30px;
      margin-bottom: 5px;
    }

    .box-color-2 {
      background: $secondary-color;
      width: 50vw;
      height: 96vh;
      margin-right: 20px;
      margin-top: 30px;
      margin-bottom: 5px;
      ;
    }

    .homepage {


      h1 {
        position: absolute;
        left: 205px;
        top: 205px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 75px;
        line-height: 75px;

        span {
          color: $primary-color;
        }
      }

      h2 {
        position: absolute;
        left: 205px;
        top: 380px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-decoration: underline;
      }

      h3 {
        position: absolute;
        left: 195px;
        top: 420px;
        font-family: $primary-font;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
      }

      .language .english {
        position: fixed;
        left: 3px;
        top: 30px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        transform: rotate(-90deg);

        a {
          color: $primary-color;
          text-decoration: underline;
        }
      }

      .language .french {
        position: fixed;
        left: 6px;
        top: 55px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        transform: rotate(-90deg);

        a {
          color: black;
          text-decoration: none;
        }
      }

      .language:hover .french {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;

      }
    }
  }

  .contact .social-icons {
    position: absolute;
    right: 3px;
    top: 11%;
    padding-right: 2px;
  }

  .social-icons img {
    width: 15px;
    height: 15px;
    margin-top: 25px;
    opacity: 1;
    border-radius: 3px;
  }

  .social-icons li {
    list-style-type: none;
  }

  #wireframe img {
    width: 100vw;
    height: 350px;
    margin-left: 15px;
  }

  #section-2 {
    display: flex;
    justify-content: center;
    width: 110vw;
    height: auto;

    .box-color-1 {
      background: $secondary-color;
      width: 50vw;
      height: 96vh;
      margin-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      z-index: -1;
    }

    .box-color-2 {
      background: $primary-color;
      width: 50vw;
      height: 96vh;
      margin-right: 45px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    height: 5px;
    font-size: 10px;

    h4 {
      font-family: $primary-font;
      text-align: center;
      text-decoration: underline;
      font-size: 12px;
    }

    ul li {
      list-style-type: none;
      display: inline;

      a {
        color: black;
        font-weight: bold;
        text-decoration: none;

        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
  }

  ul li:hover a {
    cursor: pointer;
    color: $primary-color;
    text-decoration: underline;
  }

  .about-title {
    h1 {
      position: absolute;
      left: 17%;
      top: 1150px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 75px;
      line-height: 75px;

      span {
        color: $primary-color;
      }
    }
  }

  .about-article {
    display: grid;
    grid-template-columns: 35vw;
    grid-template-rows: 90vh;
    position: absolute;
    top: 1060px;
    right: 25px;
    border: 2px solid black;

    p {
      font-family: $primary-font;
      color: black;
      font-style: none;
      font-size: 10px;
      padding: 10px;

    }
  }

  .strength-graph {
    box-sizing: border-box;
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: 1410px;
    left: 70px;
    font-size: 10px;

    h3 {
      font-size: 12px;
    }

    .container {
      width: 35vw;
      border: 2px solid black;
      margin-bottom: 3px;
      border-radius: 9px;


    }

    .skills {
      text-align: right;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
      font-family: $primary-font;
    }

    .html {
      width: 30%;
      background-color: $primary-color;
      padding-right: 5px;
    }

    .css {
      width: 25%;
      background-color: $primary-color;
      padding-right: 5px;
    }

    .java {
      width: 10%;
      background-color: $primary-color;
      padding-right: 5px;
    }

    .node {
      width: 10%;
      background-color: $primary-color;
      padding-right: 5px;
    }
  }

  .html5 {
    position: absolute;
    top: 1440px;
    left: 36px;
    color: #e34c26;
    font-size: 10px;
  }

  .css3 {
    position: absolute;
    top: 1470px;
    left: 36px;
    color: #264de4;
    font-size: 10px;
  }

  .js-square {
    position: absolute;
    top: 1503px;
    left: 35px;
    color: rgb(224, 224, 52);
    font-size: 10px;
  }

  .node-symbol {
    position: absolute;
    top: 1535px;
    left: 35px;
    color: rgb(57, 202, 57);
    font-size: 8px;
  }


  .coding-image img {
    width: 100vw;
    height: 350px;
    margin-left: 20px;
  }

  #section-3 {
    display: flex;
    justify-content: center;
    width: 110vw;
    height: auto;


    .box-color-1 {
      background: $primary-color;
      width: 50vw;
      height: 96vh;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .box-color-2 {
      background: $secondary-color;
      width: 50vw;
      height: 96vh;
      margin-right: 45px;
      margin-top: 10px;
      margin-bottom: 5px;

    }
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 48px;
    padding: 5px;
    height: 20px;
    font-size: 8px;

    h4 {
      font-family: $primary-font;
      font-size: 10px;
      text-align: center;
      text-decoration: underline;
    }

    ul li {
      list-style-type: none;
      display: inline;

      a {
        color: black;
        font-weight: bold;
        text-decoration: none;

        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
  }

  .projects-title {
    h1 {
      position: absolute;
      left: 13%;
      bottom: 255px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 75px;
      line-height: 75px;

      span {
        color: $secondary-color;
      }
    }
  }

  .grid-container {
    position: absolute;
    right: 12px;
    bottom: 40px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 4px;
    border-radius: 8px;
    background-color: $primary-color;
    padding: 6px;

    .grid-item {
      background-color: $secondary-color;
      border: 2px solid black;
      border-radius: 8px;
      padding: 20px;
      font-size: 20px;
      text-align: center;
      height: 30vh;
      width: 20vw;
      opacity: 0.8;
    }
  }

  footer {
    display: flex;
    justify-content: center;

    h6 {
      font-size: 10px;
    }
  }
}
