@import './variables.scss';

// mobile
@media screen and (max-width: 600px) {
  body {
    background: $background-color;
    font-family: $primary-font;
  
    #section-1 {
      height: 100vh;
      width: 100vw;
  
      .homepage {
        display: flex;
        justify-content: center;
  
        .box-color-1 {
          width: 48vw;
          height: 98vh;
          background: $primary-color;
          margin-top: 15px;
        }
        .box-color-2 {
          width: 48vw;
          height: 98vh;
          background: $secondary-color;
          margin-top: 15px;
  
        }
      }
      h1 {
        font-size: 200px;
        position: absolute;
        top: 15%;
        left: 38%;
        font-weight: 800;
        color: $primary-font-color;
        line-height: 200px;;
        span {
          color: $primary-color;
        }
      }
      h2 {
        position: absolute;
        bottom: 13%;
        left: 42%;
        font-style: italic;
        font-weight: 300;
      }
      h3 {
        position: absolute;
        bottom: 8%;
        left: 42%;
        font-size: $font-s;
      }
    }
  
    .language {
      position: fixed;
      left: 5px;
      top: 25px;
  
      p {
        font-size:large;
        font-weight: bold;
        transform: rotate(-90deg);
       
        a {
          color: $primary-font-color;
        }
        a:hover {
          color: $primary-color;
        }
      }
    }
    
    .social-icons{
      position: fixed;
      right: 2px;
      top: 300px;
    
    li {
      list-style-type: none;
      opacity: 0.3;
  
    img {
      width: 25px;
      height: 25px;
      margin-top: 20px;
    }
  }
  }
  li:hover {
    opacity: 1;
    cursor: pointer;
  }
  .parallax {
    background-image: url('../images/stock_images/wireframing.jpeg');
    min-height: 80vh;
    min-width: 98vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  .parallaxTwo {
    background-image: url('../images/stock_images/coding.png');
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 27px;
    color: $primary-font-color;
    
    h4 {
      font-size: $font-m;
    }
  
    ul li {
      display: inline;
      font-size: $font-m;
      a {
        color: $primary-font-color;;
        font-weight: bold;
        text-decoration: none;
  
        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
    ul li:hover a {
      cursor: pointer;
      color: $primary-color;
      text-decoration: underline;
    }
  }
  
  #section-2 {
    width: 100vw;
    height: 100vh;
    padding-left: 26px;
    padding-right: 26px;
  
    .about-title{
      display:flex;
      justify-content: center;
      height: 100vh;
  
    }
  
    .about-heading {
      background: $secondary-color;
      padding-left: 20px;
      width: 48vw;
      text-align:left;
      h1 {
        padding-top: 50px;
        padding-left: 20px;
        font-size: 160px;
        font-weight: bold;
        line-height: 110px;
        margin-left: 120px;
        color: $primary-font-color;
        span { 
          color: $primary-color;
        }
      }
      img {
        width: 300px;
        height: 300px;
        padding: 20px;
        border-radius: 50%;
        margin-left: 150px;
        margin-top: 80px;
      }
    }
    .article {
      background: $primary-color;
      padding: 30px;
      width: 48vw;
      text-align: center;
      font-size: 24px;
      color: $primary-font-color;
      overflow: scroll;
    }
  }
  .coding-image img {
    width: 100vw;
    height: 80vh;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
  }
  
  #section-3 {
    width: 100vw;
    height: 60vh;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 20px;
  
    .projects {
      display: flex;
      justify-content: center;
      height: 80vh;
  
      .projects-title {
        background: $primary-color;
        width: 48vw;
        height: 100vh;
        text-align: center;
        padding-top: 50px;
        
        h1 {
          font-size: 150px;
          font-weight: bold;
          line-height: 140px;
          color: $primary-font-color;
          span {
            color: $secondary-color;
          }
        }
        .skills {
          margin-top: 100px;
          .fab {
            width: 75px;
            height: 75px;
            font-size: 75px;
            grid-gap: 10px;
          }
        }
      }
      .project-links {
        background: $secondary-color;
        width: 48vw;
        height: 100vh;
        padding: 10px;
        display: flex;
        justify-content: space-around;
  
        .card {
          margin-bottom: 15px;
          margin-top: 20px;
          background:rgba( 255, 255, 255, 0.18 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 3.0px );
          -webkit-backdrop-filter: blur( 3.0px );
          border-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          font-size: 14px;
          height: 200px;
          color: $primary-font-color;
        }
        
        .btn {
          background: $secondary-color;
          color: $primary-font-color;
          font-weight: bold;
          border: 1px solid $primary-font-color;
        }
        .btn:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  }
  
}




























// tablets
@media screen and (min-width: 601px) and (max-width: 768px) {
  body {
    background: $background-color;
    font-family: $primary-font;
  
    #section-1 {
      height: 100vh;
      width: 100vw;
  
      .homepage {
        display: flex;
        justify-content: center;
  
        .box-color-1 {
          width: 48vw;
          height: 98vh;
          background: $primary-color;
          margin-top: 15px;
        }
        .box-color-2 {
          width: 48vw;
          height: 98vh;
          background: $secondary-color;
          margin-top: 15px;
  
        }
      }
      h1 {
        font-size: 200px;
        position: absolute;
        top: 15%;
        left: 38%;
        font-weight: 800;
        color: $primary-font-color;
        line-height: 200px;;
        span {
          color: $primary-color;
        }
      }
      h2 {
        position: absolute;
        bottom: 13%;
        left: 42%;
        font-style: italic;
        font-weight: 300;
      }
      h3 {
        position: absolute;
        bottom: 8%;
        left: 42%;
        font-size: $font-s;
      }
    }
  
    .language {
      position: fixed;
      left: 5px;
      top: 25px;
  
      p {
        font-size:large;
        font-weight: bold;
        transform: rotate(-90deg);
       
        a {
          color: $primary-font-color;
        }
        a:hover {
          color: $primary-color;
        }
      }
    }
    
    .social-icons{
      position: fixed;
      right: 2px;
      top: 300px;
    
    li {
      list-style-type: none;
      opacity: 0.3;
  
    img {
      width: 25px;
      height: 25px;
      margin-top: 20px;
    }
  }
  }
  li:hover {
    opacity: 1;
    cursor: pointer;
  }
  .parallax {
    background-image: url('../images/stock_images/wireframing.jpeg');
    min-height: 80vh;
    min-width: 98vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  .parallaxTwo {
    background-image: url('../images/stock_images/coding.png');
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 27px;
    color: $primary-font-color;
    
    h4 {
      font-size: $font-m;
    }
  
    ul li {
      display: inline;
      font-size: $font-m;
      a {
        color: $primary-font-color;;
        font-weight: bold;
        text-decoration: none;
  
        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
    ul li:hover a {
      cursor: pointer;
      color: $primary-color;
      text-decoration: underline;
    }
  }
  
  #section-2 {
    width: 100vw;
    height: 100vh;
    padding-left: 26px;
    padding-right: 26px;
  
    .about-title{
      display:flex;
      justify-content: center;
      height: 100vh;
  
    }
  
    .about-heading {
      background: $secondary-color;
      padding-left: 20px;
      width: 48vw;
      text-align:left;
      h1 {
        padding-top: 50px;
        padding-left: 20px;
        font-size: 160px;
        font-weight: bold;
        line-height: 110px;
        margin-left: 120px;
        color: $primary-font-color;
        span { 
          color: $primary-color;
        }
      }
      img {
        width: 300px;
        height: 300px;
        padding: 20px;
        border-radius: 50%;
        margin-left: 150px;
        margin-top: 80px;
      }
    }
    .article {
      background: $primary-color;
      padding: 30px;
      width: 48vw;
      text-align: center;
      font-size: 24px;
      color: $primary-font-color;
      overflow: scroll;
    }
  }
  .coding-image img {
    width: 100vw;
    height: 80vh;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
  }
  
  #section-3 {
    width: 100vw;
    height: 60vh;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 20px;
  
    .projects {
      display: flex;
      justify-content: center;
      height: 80vh;
  
      .projects-title {
        background: $primary-color;
        width: 48vw;
        height: 100vh;
        text-align: center;
        padding-top: 50px;
        
        h1 {
          font-size: 150px;
          font-weight: bold;
          line-height: 140px;
          color: $primary-font-color;
          span {
            color: $secondary-color;
          }
        }
        .skills {
          margin-top: 100px;
          .fab {
            width: 75px;
            height: 75px;
            font-size: 75px;
            grid-gap: 10px;
          }
        }
      }
      .project-links {
        background: $secondary-color;
        width: 48vw;
        height: 100vh;
        padding: 10px;
        display: flex;
        justify-content: space-around;
  
        .card {
          margin-bottom: 15px;
          margin-top: 20px;
          background:rgba( 255, 255, 255, 0.18 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 3.0px );
          -webkit-backdrop-filter: blur( 3.0px );
          border-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          font-size: 14px;
          height: 200px;
          color: $primary-font-color;
        }
        
        .btn {
          background: $secondary-color;
          color: $primary-font-color;
          font-weight: bold;
          border: 1px solid $primary-font-color;
        }
        .btn:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  }
  
}


























//---------------------------------------------------------------------------------------------------------
//desktops
@media screen and (min-width: 769px) and (max-width: 1199px) {
  body {
    background: $background-color;
    font-family: $primary-font;
  
    #section-1 {
      height: 100vh;
      width: 100vw;
  
      .homepage {
        display: flex;
        justify-content: center;
  
        .box-color-1 {
          width: 48vw;
          height: 98vh;
          background: $primary-color;
          margin-top: 15px;
        }
        .box-color-2 {
          width: 48vw;
          height: 98vh;
          background: $secondary-color;
          margin-top: 15px;
  
        }
      }
      h1 {
        font-size: 200px;
        position: absolute;
        top: 15%;
        left: 38%;
        font-weight: 800;
        color: $primary-font-color;
        line-height: 200px;;
        span {
          color: $primary-color;
        }
      }
      h2 {
        position: absolute;
        bottom: 13%;
        left: 42%;
        font-style: italic;
        font-weight: 300;
      }
      h3 {
        position: absolute;
        bottom: 8%;
        left: 42%;
        font-size: $font-s;
      }
    }
  
    .language {
      position: fixed;
      left: 5px;
      top: 25px;
  
      p {
        font-size:large;
        font-weight: bold;
        transform: rotate(-90deg);
       
        a {
          color: $primary-font-color;
        }
        a:hover {
          color: $primary-color;
        }
      }
    }
    
    .social-icons{
      position: fixed;
      right: 2px;
      top: 300px;
    
    li {
      list-style-type: none;
      opacity: 0.3;
  
    img {
      width: 25px;
      height: 25px;
      margin-top: 20px;
    }
  }
  }
  li:hover {
    opacity: 1;
    cursor: pointer;
  }
  .parallax {
    background-image: url('../images/stock_images/wireframing.jpeg');
    min-height: 80vh;
    min-width: 98vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  .parallaxTwo {
    background-image: url('../images/stock_images/coding.png');
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 27px;
    color: $primary-font-color;
    
    h4 {
      font-size: $font-m;
    }
  
    ul li {
      display: inline;
      font-size: $font-m;
      a {
        color: $primary-font-color;;
        font-weight: bold;
        text-decoration: none;
  
        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
    ul li:hover a {
      cursor: pointer;
      color: $primary-color;
      text-decoration: underline;
    }
  }
  
  #section-2 {
    width: 100vw;
    height: 100vh;
    padding-left: 26px;
    padding-right: 26px;
  
    .about-title{
      display:flex;
      justify-content: center;
      height: 100vh;
  
    }
  
    .about-heading {
      background: $secondary-color;
      padding-left: 20px;
      width: 48vw;
      text-align:left;
      h1 {
        padding-top: 50px;
        padding-left: 20px;
        font-size: 160px;
        font-weight: bold;
        line-height: 110px;
        margin-left: 120px;
        color: $primary-font-color;
        span { 
          color: $primary-color;
        }
      }
      img {
        width: 300px;
        height: 300px;
        padding: 20px;
        border-radius: 50%;
        margin-left: 150px;
        margin-top: 80px;
      }
    }
    .article {
      background: $primary-color;
      padding: 30px;
      width: 48vw;
      text-align: center;
      font-size: 24px;
      color: $primary-font-color;
      overflow: scroll;
    }
  }
  .coding-image img {
    width: 100vw;
    height: 80vh;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
  }
  
  #section-3 {
    width: 100vw;
    height: 60vh;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 20px;
  
    .projects {
      display: flex;
      justify-content: center;
      height: 80vh;
  
      .projects-title {
        background: $primary-color;
        width: 48vw;
        height: 100vh;
        text-align: center;
        padding-top: 50px;
        
        h1 {
          font-size: 150px;
          font-weight: bold;
          line-height: 140px;
          color: $primary-font-color;
          span {
            color: $secondary-color;
          }
        }
        .skills {
          margin-top: 100px;
          .fab {
            width: 75px;
            height: 75px;
            font-size: 75px;
            grid-gap: 10px;
          }
        }
      }
      .project-links {
        background: $secondary-color;
        width: 48vw;
        height: 100vh;
        padding: 10px;
        display: flex;
        justify-content: space-around;
  
        .card {
          margin-bottom: 15px;
          margin-top: 20px;
          background:rgba( 255, 255, 255, 0.18 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 3.0px );
          -webkit-backdrop-filter: blur( 3.0px );
          border-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          font-size: 14px;
          height: 200px;
          color: $primary-font-color;
        }
        
        .btn {
          background: $secondary-color;
          color: $primary-font-color;
          font-weight: bold;
          border: 1px solid $primary-font-color;
        }
        .btn:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  }
  
}




































//---------------------------------------------------------------------------------------------------------
//extra large
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    background: $background-color;
    font-family: $primary-font;
  
    #section-1 {
      height: 100vh;
      width: 100vw;
  
      .homepage {
        display: flex;
        justify-content: center;
  
        .box-color-1 {
          width: 48vw;
          height: 98vh;
          background: $primary-color;
          margin-top: 15px;
        }
        .box-color-2 {
          width: 48vw;
          height: 98vh;
          background: $secondary-color;
          margin-top: 15px;
  
        }
      }
      h1 {
        font-size: 200px;
        position: absolute;
        top: 15%;
        left: 38%;
        font-weight: 800;
        color: $primary-font-color;
        line-height: 200px;;
        span {
          color: $primary-color;
        }
      }
      h2 {
        position: absolute;
        bottom: 13%;
        left: 42%;
        font-style: italic;
        font-weight: 300;
      }
      h3 {
        position: absolute;
        bottom: 8%;
        left: 42%;
        font-size: $font-s;
      }
    }
  
    .language {
      position: fixed;
      left: 5px;
      top: 25px;
  
      p {
        font-size:large;
        font-weight: bold;
        transform: rotate(-90deg);
       
        a {
          color: $primary-font-color;
        }
        a:hover {
          color: $primary-color;
        }
      }
    }
    
    .social-icons{
      position: fixed;
      right: 2px;
      top: 300px;
    
    li {
      list-style-type: none;
      opacity: 0.3;
  
    img {
      width: 25px;
      height: 25px;
      margin-top: 20px;
    }
  }
  }
  li:hover {
    opacity: 1;
    cursor: pointer;
  }
  .parallax {
    background-image: url('../images/stock_images/wireframing.jpeg');
    min-height: 80vh;
    min-width: 98vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  .parallaxTwo {
    background-image: url('../images/stock_images/coding.png');
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96vw;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 27px;
    color: $primary-font-color;
    
    h4 {
      font-size: $font-m;
    }
  
    ul li {
      display: inline;
      font-size: $font-m;
      a {
        color: $primary-font-color;;
        font-weight: bold;
        text-decoration: none;
  
        span {
          text-decoration: underline;
          color: $primary-color
        }
      }
    }
    ul li:hover a {
      cursor: pointer;
      color: $primary-color;
      text-decoration: underline;
    }
  }
  
  #section-2 {
    width: 100vw;
    height: 100vh;
    padding-left: 26px;
    padding-right: 26px;
  
    .about-title{
      display:flex;
      justify-content: center;
      height: 100vh;
  
    }
  
    .about-heading {
      background: $secondary-color;
      padding-left: 20px;
      width: 48vw;
      text-align:left;
      h1 {
        padding-top: 50px;
        padding-left: 20px;
        font-size: 160px;
        font-weight: bold;
        line-height: 110px;
        margin-left: 120px;
        color: $primary-font-color;
        span { 
          color: $primary-color;
        }
      }
      img {
        width: 300px;
        height: 300px;
        padding: 20px;
        border-radius: 50%;
        margin-left: 150px;
        margin-top: 80px;
      }
    }
    .article {
      background: $primary-color;
      padding: 30px;
      width: 48vw;
      text-align: center;
      font-size: 24px;
      color: $primary-font-color;
      overflow: scroll;
    }
  }
  .coding-image img {
    width: 100vw;
    height: 80vh;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
  }
  
  #section-3 {
    width: 100vw;
    height: 60vh;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 20px;
  
    .projects {
      display: flex;
      justify-content: center;
      height: 80vh;
  
      .projects-title {
        background: $primary-color;
        width: 48vw;
        height: 100vh;
        text-align: center;
        padding-top: 50px;
        
        h1 {
          font-size: 150px;
          font-weight: bold;
          line-height: 140px;
          color: $primary-font-color;
          span {
            color: $secondary-color;
          }
        }
        .skills {
          margin-top: 100px;
          .fab {
            width: 75px;
            height: 75px;
            font-size: 75px;
            grid-gap: 10px;
          }
        }
      }
      .project-links {
        background: $secondary-color;
        width: 48vw;
        height: 100vh;
        padding: 10px;
        display: flex;
        justify-content: space-around;
  
        .card {
          margin-bottom: 15px;
          margin-top: 20px;
          background:rgba( 255, 255, 255, 0.18 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 3.0px );
          -webkit-backdrop-filter: blur( 3.0px );
          border-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          font-size: 14px;
          height: 200px;
          color: $primary-font-color;
        }
        
        .btn {
          background: $secondary-color;
          color: $primary-font-color;
          font-weight: bold;
          border: 1px solid $primary-font-color;
        }
        .btn:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  }
  
}